<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/forever-identity-1.png" width=240px></a>
    
  <nav class="navbar">
  
     <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/exhibitions/">전시</a></li>

              <li class="nav-item"><a href="{{ site.baseurl }}/artists/">작가</a></li>

           <li class="nav-item"><a href="{{ site.baseurl }}/community">커뮤니티</a></li> 
              <li class="nav-item"><a href="{{ site.baseurl }}/korean/collecting/">작품 소장</a></li>
 
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">소개</a></li>
       <li class="nav-item"><a href="{{ site.baseurl }}/">모두보기</a></li>

                  <li class="nav-item"><a href="{{ site.baseurl }}">English</a></li>
              </ul>
  </nav>

</header>
