<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

 

      <div class="container">
      <body>



2023 12. 7~12. 24
<br>《Friend's Neighborhood》 
<br>Tuesday-Sunday 12-6pm  
<br>Artists: Yunseo Go, Hwan Kim, Baekgu, Cheon Pyo Lee,  Sunghoon Jung, Jaiwaon Choi, Taeyoon Choi (Curator)  
<br>
<br>
2023 12. 24 
<br>salt + forever holiday party
<br>6-9pm
<br>Everyone's welcome
<br>
<br>
2023 12. 27. 
<br>Dasom Suh's practice makes practice Workshop <포슬포슬 복슬복슬 키라키라 포카포카>
<br>
6:30-8:30pm  

</body> 

        {% include footer-home.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
