<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header-kr.html %}

      <div class="container">

2023 12. 7~12. 24
<br>《친구네 동네》 
<br>화-일 12-6pm (12월 24일 3-9pm)
<br>참여 작가: 고윤서, 김환, 백구, 이천표, 정성훈, 최재원, 최태윤(기획) 
<br>
<br>
2023 12. 24 
<br>salt + 포에버 연말파티
<br>6-9pm
<br>모두 환영합니다. 드시고싶은 음료와 다회용 컵을 갖고 오세요
<br>
<br>
2023 12. 27. 
<br>서다솜 작가 프로젝트 practice makes practice 워크숍 <포슬포슬 복슬복슬 키라키라 포카포카>
<br>
6:30-8:30pm  워크숍 당일 야마다 히데스에와 서다솜의 요리를 함께 나누어 먹는 경험이 포함되어 있습니다. 참여 작가: 금벌레, 코이케 하나에, 야마다 히데스에, 서다솜(기획)  

<br>
<br>
2024. 1. 2~2. 24
<br>《영혼의 어두운 밤》 
<br>포에버 기획초대 최수진(물질세계) 개인전 
<br>화,목,금,토 12-6pm (1월 2일 3-9pm)
<br>전시 오프닝: 2024년 1월 2일 5시
		{{ content }}
 
        {% include footer.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
